@import "./colors.scss";

* {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
}

input[type="text"], input[type="password"], input[type="email"]{
  border: none;
  outline: none;
}

button {
  background-color: $primary;
  color:$white;
  border-radius: 10px;
  font-size: 16px;
  border: 0;
  line-height: 50px;
  padding: 0 16px;

  &:hover {
    opacity: 0.9;
  }

  &:disabled {
    background-color: $disabledBackground;
    color:$disabledColor
  }
}

body {
  background-color: $background;
  transition: all 1s;
}
