@import "../../styles/colors.scss";


.header {
  display: flex;
  flex-direction: column;
  background-color: $primary;
  align-items: center;

  img{
    margin-top: 8px;
  }

  h1{
    color: $white;
    margin: 16px 0 16px;
  }
}
